/*Grid sutff*/
* {
  box-sizing: border-box;
}

/*Pour le quiz*/
.quiz
{
  min-height: 100vh; /*Use the whole page even if we don't have a lot of text*/
  background-color: #171717;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows:  8% minmax(30%,auto) auto auto 8%;
  grid-gap: 20px;
  grid-template-areas: "logo menu menu menu menu menu"
                       "question question question question question question"
                       ". main main main main ."
                       ". . . . . ." /*Empty space, could be usefull for the jokers*/
                       "footer footer footer footer footer footer";
}

.box
{
  background: #af00af22;
  color: #fff;
  padding: 10px;
  border: 1px solid #af00af;

}

.logo
{
  grid-area: logo;
  text-align: center;
  padding: 20px; /*Text centering, remove when we put the pic*/
}

.menu
{
  grid-area: menu;
}

.question
{
  grid-area: question;
}

.main
{
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 20px;
}

.footer
{
  grid-area: footer;
  text-align: center;
}

/*For smaller screens*/
@media only screen and (max-width: 768px)
{
  .quiz{
    display: grid;
    background-color: #171717;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows:  0% 8% minmax(30%,auto) auto auto 8%;
    grid-gap: 10px;
    grid-template-areas: "logo"
                         "menu"
                         "question"
                         "main"
                         "."
                         "footer";
  }

  .logo{
    display: none;
  }

  .main{
    grid-area: main;
    display: grid;
    grid-template-columns: 1;
    grid-auto-rows: auto;
    grid-gap: 20px;
    grid-template-areas: "reponse"
                         "reponse"
                         "reponse"
                         "reponse";
  }

  .reponse{
    grid-area: reponse;
    grid-column: 1/ -1;
    grid-row: auto;
  }
}

/*Design stuff from @Med*/
#titleScreen {
    text-align: center;
    /*margin: auto;*/
    animation-name: title-slide-out;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
    animation-duration: 0.40s;
    animation-play-state: paused;
}

#questionBlock {
    text-align: center;
    display: none;
}

#reponseBlock {
    display: none;
}

#endGameBlock {
    text-align: center;
    display: none;
}

#answerResult {
    display: none;
    text-align: center;
    color: darkgray;
    font-style: italic;
    font-size: 18pt;
}

#showScore {
    display: grid;
    line-height: 0.8;
    margin-bottom: 20px;
    font-size: 8em;
    font-weight: bolder;
}

#alertBox {
    margin: auto;
    margin-top: 15px;
    max-width: 400px;
}

h1, h2 {
    font-weight: bolder;
    margin-bottom: 30px;
}
.navbar-brand, .navbar-brand:hover, .navbar-brand:active {
    text-align: center;
    color: #800080;
}

.scoreBG {
  background-color: #171717;
  text-align: center;
}

.scoreAltColourStyle {
    padding: 3px 3px 3px 10px;
    font-size: 16pt;
    background-color: #961e96;

}

.scoreStyle {
    padding: 3px 3px 3px 10px;
    font-size: 16pt;
    background-color: #db1bd1;
}

.btn-primary {
    background: #af00af;
    border-color: #af00af;
}

.btn-primary:hover {
    background-color: #da45da;
    border-color: #da45da;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
    background: #800080;
    border-color: #800080;
}

.btnOption {
    display: block;
    margin-bottom: 5px;
}

/* Animation styles from @Med*/
.answerSlideUp {
    animation-name: answer-slide-up;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    /* animation-iteration-count: 1; */
    animation-duration: 1s;
}

.slideUp {
    animation-name: slide-up;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    animation-duration: 0.50s;
}

.slideDown {
    animation-name: slide-down;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    animation-duration: 0.70s;
}

.questionFadeOut {
    animation-name: quiz-fade-out;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    animation-duration: 0.30s;
}

.questionFadeIn {
    animation-name: quiz-fade-in;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    animation-duration: 0.30s;
}

.fadeInOut {
    animation-name: fade-in-out;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    animation-duration: 1.00s;
}

.fadeAway {
    animation-name: fade-away;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    animation-duration: 0.30s;
}

@keyframes title-slide-out {
    0% {
        bottom: 0;
        opacity: 1;
    }
    100% {
        bottom: 300px;
        opacity: 0;
    }
}

@keyframes answer-slide-up {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-in-out {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fade-away {
    0% {
        bottom: 50%;
        opacity: 1;
    }
    100% {
        bottom: 50%;
        opacity: 0;
    }
}

@keyframes slide-up {
    0% {
        top: 200px;
        opacity: 0;
    }
    100% {
        top: 0;
        opacity: 1;
    }
}

@keyframes slide-down {
    0% {
        bottom: 100px;
        opacity: 0;
    }
    100% {
        bottom: 0;
        opacity: 1;
    }
}

@keyframes quiz-fade-out {
    0% {
        right: 0;
        opacity: 1;
    }
    100% {
        right: 200px;
        opacity: 0;
    }
}

@keyframes quiz-fade-in {
    0% {
        left: 200px;
        opacity: 0;
    }
    100% {
        left: 0;
        opacity: 1;
    }
}

@media (max-width: 767px) {
    @keyframes answer-slide-up {
        0% {
            bottom: 0;
            opacity: 0;
        }
        100% {
            bottom: 20%;
            opacity: 1;
        }
    }

    @keyframes fade-away {
        0% {
            bottom: 20%;
            opacity: 1;
        }
        100% {
            bottom: 20%;
            opacity: 0;
        }
    }
}
